@import './colors';

html, body  {
  width: 100vw;
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-grey);

  background:
    linear-gradient(
      to right,
      var(--color-light-green) 0%,
      var(--color-green) 100%
    );
}

a, a:hover {
  color: var(--color-grey);
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  color: var(--color-light-grey);
}

input,
select {
  margin: .5rem 0;
  padding: .5rem .5rem;

  background-color: color(
    var(--color-blue)
    lightness(30%)
  );
  color: var(--color-white);
  font-size: .8rem;

  border: 0;
  border-radius: 10px;
}

input:focus {
  background-color: var(--color-white);
  color: var(--color-blue);
}
