.codit
  .container
    nav.menu
      co-search(v-on:search='onSearch')
      co-bookmarks
    main.content
      header.content__header
        co-logo
      transition(name='openwebinars' v-if='show')
        co-developers
